@import "../../../scss/base.scss";
.hero {
  background-color: $background-color;
  height: 65vh;
  @include container;
  align-items: center;
  div {
    grid-column: 2/13;

    h3 {
      color: #188c81;
      font-size: 4em;
    }
    p {
      color: $primary-color;
      font-size: 1.8em;
    }

    /* CSS */
    .CTA {
      align-items: center;
      background-clip: padding-box;
      background-color: #188c81;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
        Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      margin-top: 50px;
      min-height: 3rem;
      padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }

    .CTA:hover,
    .CTA:focus {
      background-color: #32b0a3;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    .CTA:hover {
      transform: translateY(-1px);
    }

    .CTA:active {
      background-color: #c85000;
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      transform: translateY(0);
    }
  }
}
