---
import styles from "./projectTemplate.module.scss"
const title = 'HII';
---
<div style={styles.ProjectTemplate}>
    <div background-image="url('/assets/IMG/phone.jpg')">
        Banner
    </div>

    <h3>Think Piano</h3>

    <h1>{title}</h1>
    
</div>



