---
import '../styles/global.scss';
import '../styles/home.scss';
import Header from '../components/Header/Header.jsx'
import Footer from '../components/Footer/Footer.jsx'
import Hero from '../components/Home/Hero/Hero.jsx'
import WhatWeDo from "../components/Home/WhatWeDo/WhatWeDo.jsx"
import Reviews from '../components/Home/Reviews/Reviews.jsx'
import Projects from '../components/Home/Projects/Projects.jsx'

const title = 'Tenwall Development';

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>    
    <Header />

        <Hero />
        <WhatWeDo name={title} client:visible /> 
        <Projects />

     <Footer />
</body>
</html>
