---
import Header from '../components/Header/Header.jsx'
import Footer from '../components/Footer/Footer.jsx'
import Hero from '../components/Home/Hero/Hero.jsx'
import WhatWeDo from '../components/Home/WhatWeDo/WhatWeDo.jsx'
import Reviews from '../components/Home/Reviews/Reviews.jsx'
import ProblemSolve from '../components/Home/ProblemSolve/ProblemSolve.jsx'

const title = 'Tenwall Development';

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>    
    <Header />
    <main>
        <Hero />
        <WhatWeDo name={title} client:visible />
        <ProblemSolve />
    </main>
     <Footer />
</body>
</html>

