@import "../../scss/base.scss";
.header {
  background-color: #00000077;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5em;
  color: #262626;
  z-index: 51;

  @include container;

  .brandWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-column: 2/8;
    img {
      width: 3em;
      height: auto;
    }
    .brandName {
      display: flex;
      flex-direction: column;


      p {
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
      }
    }
  }
}


.mainName {
  font-size: 1.6em;
  color: #fff;
}


.nav {
  color: #262626;
  grid-column: 10/12;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 6px;
    transition: 0.2s;
  }
  a:hover {
    color: $primary-color;

    cursor: pointer;
  }
}
