@import "../../scss/base.scss";
.header {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5em;

  @include container;

  div {
    display: flex;
    flex-direction: row;
    grid-column: 1/2;
    img {
      width: 3em;
      height: auto;
    }
    p {
      font-size: 1rem;
    }
  }
}

.nav {
  color: white;
  grid-column: 3/5;

  a {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 6px;
  }
  a:hover {
    color: rgb(181, 181, 255);
    cursor: pointer;
  }
}
