@import "../../scss/base.scss";
.header {
  background-color: $background-color;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5em;
  color: #262626;

  @include container;

  div {
    display: flex;
    flex-direction: row;
    grid-column: 2/3;
    img {
      width: 3em;
      height: auto;
    }
    p {
      font-size: 1rem;
    }
  }
}

.nav {
  color: #262626;
  grid-column: 10/12;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 6px;
  }
  a:hover {
    color: rgb(181, 181, 255);
    cursor: pointer;
  }
}
