.footer {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;

  div {
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
  }
}
