@import "../../../styles/base.scss";
.WhatWeDo {
  @include container();
  background-color: $primary-color;
  color: $text;
  height: 70vh;
  .right {
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: left;
    h3 {
      font-size: 2em;
      color: white;
    }
    p {
      color: white;
      margin-top: 1em;
      width: 80%;
      font-size: 2em;
      text-align: center;
    }
  }
  .left {
    grid-column: 7/13;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.cardWrap {
  @include center-h;
}

$time: 0.3s;

.card {
  position: relative;
  //background-color: white;
  height: 25em;
  width: 15em;
  border-radius: 1em;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.509) 4px 4px 15px 2px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  transition: $time;
  overflow: hidden;
  div {
    transition: $time;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.321);
  }
  h3 {
    margin-top: 50px;
    padding: 10px;
    font-size: 1.6em;
    transition: $time;
    color: #6c489ebd;
    background-color: #ffffff55;
  }
  img {
    height: 600px;
    width: auto;
    object-fit: cover;
  }
}
$distance: 5rem;


.card::before{
  content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.734);
	filter: blur(10px);
	margin: -20px;
}

.card:is(:first-child) {
  z-index: 3;
}

.card:not(:first-child) {
  margin-left: calc($distance * -1);
}

.card:is(:last-child) {
  z-index: 0;
}
.card:not(:first-child) {
  margin-left: calc($distance * -1);
}


.default:is(:first-child){
  //transform: translateY(-1rem);
  z-index: 3!important;
  background-color: #7046b850 ;
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
  h3{
    background-color: #ffffff;
    color: $primary-color;

  }
}

.default:not(:first-child){
  background-color: #6c489ebd;
}

.active {
  transform: translateY(-1rem);
  z-index: 3!important;
  background-color: $primary-color;
  height: 26em;
  width: 16em;
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
  h3{
    background-color: #ffffff;
    color: $primary-color;

  }
}

.active {
  ~ .card {
    transform: translateX($distance);
  }
}

.notActive{
  background-color: #6c489ebd;
}

.content{

  ul{
    padding: 25px 0;
    list-style-type: none;

    color: white;
    font-size: 1.3em;
    text-align: start;
    width: 80%;

    li{
      margin-left: 1em;
      padding: 5px 0;
    }
  }
}